<!DOCTYPE html>
<html lang="en">
<%- include common/header.ejs %>
<body>
	<div class="container">
		<!-- Static navbar -->
		<%- include common/navbar.html %>

		<div id="allDataContainer">
			<table id="allDataTable" class="table">
				<thead>
					<tr>
						<th>id</th>
						<th>insertionDateInSeconds</th>
						<th>dateInSeconds</th>
						<th>healthObjType</th>
						<th>sourceName</th>
						<th>data</th>
					</tr>
				</thead>
				<tbody id="allDataTableTBody">

				</tbody>
			</table>
		</div>

	</div> <!-- /container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<%- include common/footer.html %>
	<script type="text/javascript" src="/scripts/util.js"></script>
	<script src="/scripts/alldata.js"></script>
</body>
</html>
