<!DOCTYPE html>
<html lang="en">
<%- include common/header.ejs %>
<body>
	<div class="container">
		<!-- Static navbar -->
		<%- include common/navbar.html %>

		<!-- Main component for a primary marketing message or call to action -->
		<div class="jumbotron">
			<h2>Get Started</h2>
			<p>This is the starter web application. It pulls in data from CloudantDB on Bluemix. To find out more about what data is being stored, explore the links under <strong>Developer</strong>.</p>
		</div>
	</div> <!-- /container -->


	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->

	<%- include common/footer.html %>
	<script src="/scripts/index.js"></script>
</body>
</html>
